* {
    box-sizing: border-box;
  }
section{
    display: grid;
    /*background-color: green;*/
    gap: 1em;
    padding: 0.5em;
}

.pink{
    background-color: rgb(211, 63, 95);
}

.blue{
    background-color: rgb(111, 221, 255);
}

.yellow{
    background-color: rgb(235, 203, 21);
}

.box{
    padding: 2em;
    text-align: center;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width:735px){
    section{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:1300px){
    section{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .blue{
        grid-column: 3;
        grid-row: 1 / 4;
    }

    .yellow{
        grid-column: 4 / 6;
        grid-row: 2 / 4;
    }

}